<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>portfolio</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" />
    <link rel= "stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black|Palanquin+Dark|Righteous" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    

    
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app.css" type="text/css" />

</head>
<body>
    
   
<div class="contain">
  <div class="left-content content">
    <div class="white-text brand z-depth-4">s</div>
    <div class="card-photo white z-depth-5 hide-on-small-and-down" >
    <div class="card-image "></div>
    </div>  
    
    <div class="details">
      <p class="white-text">contact : </p>
      <p class="white-text">soury.bunny@gmail.com <a class="white-text" href="mailto:soury.bunny@gmail.com"><i class="fa fa-envelope"></i><a></p>
      <p class="white-text">Find me on</p>
      <ul>
          <li><a class="waves-effect waves-light btn-floating social  codepen z-depth-5 tooltipped"
          data-position="bottom" data-tooltip="codepen"
          href="https://codepen.io/souryacodes/" target="_blank">
          <i class="fa fa-codepen "></i></a></li>
          <li><a class="waves-effect waves-light btn-floating social github z-depth-5 tooltipped"
          data-position="bottom" data-tooltip="github"
          href="https://github.com/sourybunny" target="_blank">
          <i class="fa fa-github"></i> </a></li>
          <li><a class="waves-effect waves-light btn-floating social linkedin z-depth-5 tooltipped"
          data-position="bottom" data-tooltip="linkedin"
          href="https://www.linkedin.com/in/sourya-v-52b8a010b/" target="_blank">
          <i class="fa fa-linkedin"></i> </a></li>
          <li><a class="waves-effect waves-light btn-floating social free-code-camp z-depth-5 tooltipped"
          data-position="bottom" data-tooltip="free code camp"
          href="https://www.freecodecamp.org/portfolio/sourybunny" target="_blank" >
          <i class="fa fa-free-code-camp"></i> </a></li>
      </ul>
    </div>
  </div>
  
  
  <div class="right-content content">

    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s12">
            <a href="#"  data-activates="dropdown1" class="button-collapse dropdown-button show-on-small">
            <i class="material-icons black-text">menu</i></a>
          
          <ul class="right hide-on-small-and-down">
            <li><a class="black-text " href="#showcase" >Showcase</a></li>
            <li><a class="black-text" href="#about" >About</a></li>
            <li><a class="black-text" href="#skills" >Skills</a></li>
          </ul>
          
          </div>
        </div>
      </div>
    </nav>
      <ul class="dropdown-content" id="dropdown1">
            <li><a class="black-text " href="#showcase" >Showcase</a></li>
            <li><a class="black-text" href="#about" >About</a></li>
            <li><a class="black-text" href="#skills" >Skills</a></li>
      </ul>

    <!--<i class="material-icons small menu ">menu</i>-->
    <div class="head">
      <h1 class="white-text">hello.</h1>
      <h4>I am</h4>
      <h3>Sourya</h3>
      
      <h5>< web developer /></h5>
      <p class="grey lighten-2">A freecodecamp student and Google Udacity Scholarship Recipient, 2018.</p>
      <p>I am an aspiring full stack web developer with love for visual design and passion to build beautiful and responsive web apps. I really 
      love to collaborate and learn from developers around the world. My current focus is on 
      <a href="https://github.com/Chingu-cohorts/pmrok/wiki/Voyage-Roadmap">Chingu voage-6</a> where I can contribute to
      projects along with other developers.</p>
      <div class="main-buttons">
            <a class="waves-effect waves-light  btn-large  z-depth-4" href="#portfolio">Portfolio</a>
            <a class="waves-effect  waves-light btn-large z-depth-4">Resume</a>
      </div>
    </div>
  </div>
</div>
 
  <section class="showcase  grey lighten-4 " id="showcase">
    <h2 class="center-align">showcase</h2>
    
    <div class="carousel">
    <a class="carousel-item z-depth-5" href="#two!"><img src="./media/pomodoro-clock.png"></a>     
    <a class="carousel-item z-depth-5" href="#one!"><img src="./media/js-calculator.png"></a>
    <a class="carousel-item z-depth-5" href="#two!"><img src="./media/toc-tac-toe.png"></a>
    <a class="carousel-item z-depth-5" href="#two!"><img src="./media/slice-it.png"></a>
    <a class="carousel-item z-depth-5" href="#two!"><img src="./media/simon-game.png"></a>
    </div>
   
  </section>
  
  <section class="portfolio " id="portfolio">
    
    <h2 class="center-align ">portfolio</h2> 
    <div class="container">
    <div class="projects "></div>
    <!--<div class="portfolio-button center-align">  </div>-->
    </div>

  </section>
  
  <section class="about grey lighten-4" id="about">
        <h2 class="center-align">about</h2>
   <div class="aboutme">
      <div class="slider">
              <ul class="slides">
                <li>
                  <img src="./media/udacity-scholarship.jpg"> <!-- random image -->
                 
                </li>
                <li>
                  <img src="./media/art5.jpg">
                 
                  
                </li>
                <li>
                  <img src="./media/art2.jpg" >
                 
                </li>
                <li>
                  <img src="./media/art3.jpg"> <!-- random image -->
                  
                </li>
                 <li>
                  <img src="./media/art6.jpg"> <!-- random image -->
                  
                </li>
                <li>
                  <img src="./media/art7.jpg"> <!-- random image -->
                  
                </li>
              </ul>
        </div>
            <div class="container">
            <h4 class="center-align black-text">WHO AM I ?</h4>
            <p class="center-align black-text">Namaste!  I'm sourya, a hobby artist, design enthusiast and self-learning web developer.
            I'm currently working as a Test Specialist (< 6 months) in IBM GBS at Bangalore, India. My love for design and
            web motivated me to build a myriad apps starting from simple games to full stack applications. My goal is to design
            elegant and fully functional web apps which are easy to use and attractive.</p>
            
            <h4 class="center-align black-text">MY LEARNING</h4>
            <p class="center-align black-text">I have completed <a class="blue-text text-darken-4" href="https://www.freecodecamp.org/sourybunny/front-end-certification" 
            target="_blank">freecodecamp's front-end certification curriculum</a> and currently
            learning Angular 4 and React.js. I'm a proud Udacian being selected for phase #2 of <span>
            <a class="blue-text text-darken-4" target="_blank" href="https://in.udacity.com/google-india-scholarships">Google Udacity's nanodegree
            scholarship program,2018</a></span> and pursuing the same while contributing to open-source projects. </p>
            <h4 class="center-align black-text">MY HOBBIES</h4>
            <p class="center-align black-text ">If I'm not crafting awesome websites, you can find me creating 
            beautiful paintings or devouring the classics. Check out my work on <a class="blue-text text-darken-4" href="https://www.facebook.com/Sourybunny/" target="_blank">facebook</a>
            and <a class="blue-text text-darken-4" href="https://www.instagram.com/sourya_sketches/" target="_blank">instagram.</a>
            </p>
            </div>
      </div>

  <!--</div>-->
</section>
    
    <section class="skills" id="skills">
      <h2  class="center-align">skills</h2>
      <div class="container">
        <div class="card-panel indigo accent-3">
            <li class="white-text">
            <i class="fa fa-html5 fa-4x" aria-hidden="true"></i>
           
           </li>
           <h5 class="white-text">HTML</h5>
        </div>
        <div class="card-panel amber accent-3">
          <li class="white-text">
            <i class="fa fa-css3 fa-4x" aria-hidden="true"></i>
           
           </li>
           <h5 class="white-text">CSS</h5>  
        </div>
        <div class="card-panel deep-orange accent-3">
         <li class="white-text">
            <i class="fab fa-js fa-4x" aria-hidden="true"></i>
           
           </li>
           <h5 class="white-text">Javascript</h5>  
        </div>
        <div class="card-panel purple accent-2">
          <li class="white-text">
            <i class="fab fa-node-js fa-4x" aria-hidden="true"></i>
           
           </li>
           <h5 class="white-text">Node js</h5>  
        </div>
        <div class="card-panel pink accent-2">
          <li class="white-text">
            <i class="fab fa-react fa-4x" aria-hidden="true"></i>
           
           </li>
           <h5 class="white-text">React js</h5>  
        </div>
        <div class="card-panel cyan accent-4">
          <li class="white-text">
            <i class="fab fa-angular fa-4x" aria-hidden="true"></i>
           
           </li>
           <h5 class="white-text">Angular 4</h5>  
        </div>
        </div>
</section>
<!--</div>-->



<div class="fixed-action-btn halfway-fab left ">
  <a class="btn-floating  waves-effect waves-light btn-small blue darken-4 left  pulse z-depth-5">
    <i class="large material-icons halfway-fab left">face</i>
  </a>
  <ul>
  <li><a class="waves-effect waves-light btn-floating social black github tooltipped"
  data-position="left" data-tooltip="github"
      href="https://github.com/sourybunny" target="_blank">
  <i class="fa fa-github"></i> Sign in with github</a></li>
  <li><a class="waves-effect waves-light btn-floating social blue darken-2 linkedin tooltipped"
  data-position="left" data-tooltip="linkedin"
      href="https://www.linkedin.com/in/sourya-v-52b8a010b/" target="_blank">
  <i class="fa fa-linkedin"></i> Sign in with linkedin</a></li>
  <li><a class="waves-effect waves-light btn-floating social grey codepen tooltipped"
  data-position="left" data-tooltip="codepen"
  href="https://codepen.io/souryacodes/" target="_blank">
  <i class="fa fa-codepen"></i> </a></li>
  <li><a class="waves-effect waves-light btn-floating social green darken-3 free-code-camp tooltipped"
      data-position="left" data-tooltip="free code camp"
      href="https://www.freecodecamp.org/portfolio/sourybunny" target="_blank">
  <i class="fa fa-free-code-camp"></i> </a></li>
  </ul>
</div>


<footer class="page-footer grey lighten-4">
   
  <div class="container">
  <h5 class="black-text center-align">want to know more ?</h5>
  <h6 class="grey-text text-darken-3 center-align">Download my <a href="#">Resume</a>.</h6>
  </div>
          
  <div class="footer-copyright">
  <div class="container grey-text text-darken-3">
  © 2018 Copyright Sourya, All rights reserved.
  <a class="grey-text text-darken-3 right" target="_blank" href="https://www.facebook.com/Sourybunny/"><i class="fa fa-facebook"></i></a>
  <a class="grey-text text-darken-3 right" target="_blank" href="https://www.instagram.com/sourya_sketches/"><i class="fab fa-instagram"></i></a>
  <a class="grey-text text-darken-3 right" href="mailto:soury.bunny@gmail.com"><i class="far fa-envelope"></i></a>
  </div>
  </div>
        
</footer>
    
    
<script type="text/javascript" src="/js/app.js"></script>  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
  
</body>
</html>